.course-page-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    margin-bottom: 160px;
}

.course-page {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 630px;
    padding: 0px 10px;

    h1 {
        margin-top: 23px;
        font-weight: 700;
        font-size: 43px;
        color: $black-text;
        text-align: center;
        line-height: 48px;
    }

    h2 {
        margin-top: 55px;
        font-weight: 600;
        font-size: 30px;
        color: $black-text;
    }
}

.course-icon {
    font-size: 60px;
    color: $black-text;
}

.course-page-description {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: $light-black;
    text-align: center;
}

.course-page-lessons {
    margin-top: 24px;
    display: flex;
    flex-flow: column;
    gap: 40px;
    width: 100%;
}

.course-page-lessons-lesson {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.course-page-lessons-lesson-1, .course-page-lessons-lesson-2 {
    border-radius: 10px;
    border: 1px solid $card-stroke;
    width: 100%;
}

.course-page-lessons-lesson-1 {
    padding: 25px;

    p:nth-child(1) {
        font-weight: 600;
        font-size: 21px;
        color: $black-text;
    }

    p:nth-child(2) {
        margin-top: 9px;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: $light-black;
    }
}

.course-page-lessons-lesson-2 {
    padding: 0px 25px;
    transition: height 0.3s ease;
}

.course-page-lessons-lesson-topbar {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-page-lessons-lesson-2-collapse {
    display: flex;
    gap: 9px;
    align-items: center;
    @include button-reset;
    color: $light-black;

    i {
        font-size: 17px;
        transition: transform 0.3s ease;
    }

    p {
        font-weight: 500;
        font-size: 16px;
    }
}

.course-page-lessons-lesson-2-progress {
    font-weight: 600;
    font-size: 17px;
    color: $black-text;
}

.course-page-lessons-lesson-open {
    i {
        transform: rotate(90deg);
    }
}

.course-page-lessons-lesson-contents {
    visibility: hidden;
    max-height: 0px;

    ul {
        display: flex;
        flex-flow: column;
        gap: 10px;
        list-style: url("/other/courseLessonListStyle.svg");
        margin-left: 25px;
        margin-bottom: 21px;

        li {
            font-weight: 500;
            font-size: 17px;
            color: $black-text;
            cursor: pointer;
        }
    }
}

.course-page-lessons-lesson-open .course-page-lessons-lesson-contents {
    visibility: visible;
    max-height: 1000px;
}

.course-page-lesson-finished {
    text-decoration: line-through;
}

.course-page-lesson-link {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .course-page h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .course-icon {
        font-size: 50px;
    }
    .course-page-lessons-lesson-1 p:nth-child(2) {
        font-size: 15px;
        line-height: 24px;
    }
    .course-page-lessons-lesson-1 p:nth-child(1) {
        font-size: 19px;
    }
    .course-page-lessons-lesson-contents ul li {
        font-size: 16px;
    }
    .course-page-lessons-lesson-2-progress {
        font-size: 16px;
    }
}