.dashboard-container {
    @include align-page($grid-small-width);
    margin-bottom: 150px;
}

.dashboard-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
    width: 100%;
    max-width: $grid-small-width;

    h1 {
        font-weight: 600;
        font-size: 32px;
        color: $black-text;
    }
}

.dashboard-stats {
    display: flex;
    gap: 23px;
    width: 100%;
    margin-top: 25px;
    flex-wrap: wrap;
}

.dashboard-stat {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 22px;
    border-radius: 15px;
    border: 1px solid $card-stroke;
    flex: 1;
}

.dashboard-stat-details {
    h1 {
        font-weight: 600;
        font-size: 16px;
        color: $light-black;
    }
    p {
        font-weight: 600;
        font-size: 30px;
        color: $black-text;
        margin-top: 9px;
    }
}

.dashboard-stat-icon-container {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.dasboard-stat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-size: 19px;
    color: $white;
}

.dashboard-stat-icon-purple {
    background: rgba(71, 51, 255, 0.5)
}
.dashboard-stat-icon-green {
    background: rgba(116, 255, 51, 0.5);
}
.dashboard-stat-icon-blue {
    background: rgba(51, 255, 243, 0.5);
}

.dashboard-courses {
    display: flex;
    flex-flow: column;
    gap: 60px;
    margin-top: 50px;
}

.dashboard-courses-header {
    display: flex;
    align-items: center;
    gap: 11px;

    h2 {
        font-weight: 600;
        font-size: 25px;
        color: $black-text;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background: #F4F4F4;
        width: 25px;
        height: 25px;

        p {
            font-weight: 700;
            font-size: 15px;
            color: $light-black;
        }
    }
}

.dashboard-courses-list {
    display: flex;
    flex-flow: wrap;
    gap: 40px;
    margin-top: 25px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .dashboard-container {
        padding: 0px 25px;
    }
}

@media screen and (max-width: 700px) {
    .dashboard-courses-list .course {
        max-width: none;
    }
}