.lesson-main {
    display: flex;
    gap: 14px;
    padding: 14px;
    height: calc(100vh - 73px);
}

.lesson-content, .lesson-code-env {
    width: 100%;
}

.lesson-content {
    border: 1px solid $card-stroke;
    overflow-y: scroll;
}

.lesson-code-env {
    display: flex;
    flex-flow: column;
    gap: 14px;
    overflow: hidden;
    position: relative;

    .lesson-category-tab-content {
        padding: 0px;
        height: 100%;
    }

    > div {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        background: #1e1e1e;
    }

    > div:nth-child(1) {
        height: 75%;
    }

    > div:nth-child(2) {
        height: 25%;
    }
}

.lesson-console {
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 22px 26px;
    height: calc(100% - 38px);
    overflow-y: auto;

    p {
        color: #EC626D;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
    }
}

.lesson-category-tab {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0px 25px;
    height: 38px;

    i {
        font-size: 17px;
    }

    p {
        font-weight: 700;
        font-size: 15px;
    }
}

.lesson-category-tab-dark {
    background: $black-bg;
    color: $white;
}

.lesson-category-tab-light {
    color: $light-black;
    background: #ECECEE;
}

.lesson-category-tab-bottom {
    border-bottom: 1px solid $card-stroke;
}

.lesson-category-tab-double {
    border-top: 1px solid $card-stroke;
    border-bottom: 1px solid $card-stroke;
}

.lesson-category-tab-content {
    padding: 30px 25px;
}

.lesson-markdown {
    

    // This will remove all bottom margin's on the last markdown element
    & div > *:last-child {
        margin-bottom: 0px;
    }

    h1 {
        font-weight: 700;
        font-size: 32px;
        color: $black-text;
    }

    h2 {
        margin-top: 50px;
        font-weight: 700;
        font-size: 25px;
        color: $black-text;
    }

    h3 {
        margin-top: 40px;
        font-weight: 600;
        font-size: 22px;
        color: $black-text;
    }

    p {
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        color: $light-black;
        margin-top: 18px;
    }

    pre {
        margin: 30px 0px;
        background: $light-white-bg;
        border-radius: 10px;
        padding: 22px 25px;
        font-weight: 500;
        font-size: 15px;
        color: $light-black;
        line-height: 25px;

        code {
            max-width: 100%;
            white-space: pre-wrap;
        }
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    & > blockquote > blockquote {
        margin-left: 20px;
        border-left: 3px solid $light-black;
    }

    blockquote:nth-child(1) {
        padding-left: 20px;
        font-style: italic;
    }

    ul, ol {
        margin-top: 18px;
        margin-left: 20px;
        list-style-type: circle;
        font-weight: 500;
        font-size: 15px;
        color: $light-black;

        li {
            line-height: 25px;
        }
    }

    img {
        border-radius: 15px;
        width: 100%;
    }

    a {
        @include link-transition;
        color: $light-black;
        text-decoration: underline;

        &:hover {
            color: darken($light-black, $text-blend);
        }
    }
}

.lesson-instructions {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.lesson-instruction {
    display: flex;
    align-items: center;
    gap: 18px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 1000px;
        background: $black-bg;
        flex-shrink: 0;

        i {
            font-size: 17px;
            color: $white;
        }
    }

    p {
        font-weight: 600;
        font-size: 15.5px;
        line-height: 19px;
        color: $light-black;

        a {
            @include link-transition;
            color: $light-black;
            text-decoration: underline;
    
            &:hover {
                color: darken($light-black, $text-blend);
            }
        }
    
        strong {
            font-weight: 700;
        }
    
        em {
            font-style: italic;
        }
    }
}

.lesson-code-editor {
    height: calc(100% - 38px);
}

.lesson-code-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: $black-bg;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    gap: 16px;

    button {
        height: 40px;
        font-size: 14.5px;
    }
}

.lesson-code-buttons-reset {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: 3px solid $white;
    background: none;
    color: $white;
    cursor: pointer;
}

.lesson-error {
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: calc(100vh - 73px);

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: $black-text;
        max-width: 450px;
    }

    p {
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        color: $light-black;
        line-height: 20px;
    }

    img {
        margin-top: 30px;
        border-radius: 15px;
        width: 200px;
    }
}

.lesson-modal {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    p:nth-child(2) {
        margin-top: 18px;
        font-weight: 700;
        font-size: 20px;
        color: $black-text;
    }

    p:nth-child(3) {
        margin-top: 10px;
        font-weight: 600;
        font-size: 17px;
        color: $light-black;
    }

    button {
        height: 41px;
        width: 100%;
        margin-top: 35px;
    }
}

.lesson-modal-checkmark {
    margin-top: 40px;
    width: 97px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    border: 5px solid $black-text;

    i {
        font-size: 42px;
        color: $black-text;
    }
}

@media screen and (max-width: 600px) {
    .lesson-main {
        display: none;
    }
    .lesson-error {
        display: flex;
    }
}