nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    height: 73px;
    border-bottom: 1px solid $card-stroke;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav-logo {
        width: 125px;
    }
}

.nav-links {
    display: flex;
    gap: clamp(25px, 50px, 50px);
    align-items: center;
    
    li a {
        font-weight: 500;
        font-size: 15px;
        color: $light-black;
        text-decoration: none;
        @include link-transition;

        &:hover {
            color: darken($light-black, $text-blend)
        }
    }
}

.nav-profile {
    @include dropdown;
    display: flex;
    align-items: center;
    gap: 13px;
}

.nav-profile-img {
    object-fit: cover;
    border-radius: 1000px;
}

.nav-profile-icon {
    width: 15px;
}

.nav-big {
    max-width: $grid-big-width;
}

.nav-small {
    max-width: $grid-small-width;
}

.dropdown-mobile {
    display: none;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
 
    button {
        height: 40px;
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .dropdown-desktop {
        display: none;
    }
    .dropdown-mobile {
        display: block;
    }

    .nav-links {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .nav-buttons {

        a:nth-child(1) {
            display: none;
        }
    }
}
@media screen and (max-width: 450px) {
    nav {
        padding: 0px 20px;
    }
}
