.course {
    position: relative;
    width: 100%;
    max-width: 270px;
    cursor: pointer;
    height: max-content;
}

.course-link {
    text-decoration: none;
}

.course-thumbnail {
    border-radius: 10px;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.course-difficulty {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 5px 12px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6);
    border-radius: 1000px;
    border: 0.4px rgba(255, 255, 255, 0.15) solid;

    p {
        font-weight: 500;
        font-size: 11.5px;
        line-height: 13px;
        color: $black-text;
    }
}

.course-info {
    margin-top: 10px;
}
.course-header {
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: $black-text;
}

.course-description {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    margin-top: 5px;
    color: $light-black;
}

.course-info-extra {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}

.course-info-extra-tags {
    display: flex;
    gap: 5px;

    div {
        display: flex;
        align-items: center;
        padding: 0px 9px;
        height: 22px;
        border: 2px solid $light-black;
        border-radius: 5px;

        p {
            font-weight: 700;
            font-size: 11px;
            color: $light-black;
        }
    }
}

.course-info-extra-time {
    display: flex;
    align-items: center;
    gap: 9px;

    i {
        font-weight: 900;
        font-size: 15px;
        color: $light-black;
    }

    p {
        font-weight: 600;
        font-size: 13px;
        color: $light-black;
    }
}