.course {
    text-decoration: none;
    display: flex;
    gap: 14px;
    width: 100%;
    max-width: 625px;
    padding: 17px 21px;
    border-radius: 10px;
    border: 1px solid $card-stroke;
    text-align: left;

    i {
        color: $black-text;
        flex-grow: 0;
        font-size: 23px;
    }

    div {
        margin-top: 3px;
    }
}

.course-header {
    font-weight: 700;
    font-size: 17px;
    color: $black-text;
}

.course-description{
    font-weight: 500;
    font-size: 14px;
    color: $light-black;
    margin-top: 6px;
    line-height: 21px;
}