.form-status-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 26px;

    button {
        @include button-reset;
    }
}

.form-status-error {
    background: $error-bg;
    border: 2px solid $error-stroke;
    color: $error-text;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 15px;

    i {
        color: $error-secondary-text;
    }
}

.form-status-success {
    background: $success-bg;
    border: 2px solid $success-stroke;
    color: $success-text;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 15px;

    i {
        color: $success-secondary-text;
    }
}