.modal-align {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal-closed {
    display: none;
}

.modal-open {
    display: flex;
}

.modal {
    width: 100%;
    max-width: 530px;
    padding: 20px 25px;
    background: $white;
    border-radius: 15px;
    box-shadow: 0 0 0 1000px rgba(0,0,0,.35);
    z-index: 200;
}

.modal-top {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #D1D0D5;

    p:nth-child(1) {
        font-weight: 700;
        font-size: 20px;
        color: $black-text;
    }

    p:nth-child(2) {
        margin-top: 10px;
        font-weight: 600;
        font-size: 15px;
        color: $light-black;
    }

    button {
        cursor: pointer;
        border: 2px solid $card-stroke;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 44px;
        aspect-ratio: 1 / 1;
        background: transparent;

        i {
            font-size: 19px;
            color: $light-black;
        }
    }
}