.search-container {
    display:  flex;

    input {
        @include input-reset;
        display: flex;
        align-items: center;
        border-radius: 7px 0px 0px 7px;
        height: 45px;
        background: $light-white-bg;
        text-indent: 16px;
        font-weight: 600;
        font-size: 15px;
        color: $light-black;
        width: 300px;

        &::placeholder {
            color: $light-white;
        }
    }

    div {
        display: flex;
        align-items: center;
        padding-right: 16px;
        border-radius: 0px 7px 7px 0px;
        height: 45px;
        background: $light-white-bg;
        font-weight: 900;
        font-size: 16px;
        color: $light-white;
    }
}