@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Fonts
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Colors
$main: #4633FF;
$black-text: #28262C;
$white: #FFF;
$light-black: #615F68;
$card-stroke: #D1D0D4;
$light-white: #A7A6AE;
$light-white-bg: #F9F9F9;
$black-bg: #141416;

// Errors
$error-bg: #FFDCE0;
$error-text: #80070E;
$error-stroke: #EBC8CE;
$error-secondary-text: #B8656A;

// Success
$success-bg: #e0ffdc;
$success-text: #078007;
$success-stroke: #c8ebc8;
$success-secondary-text: #65b869;

// Other
$button-lighten: 4%;
$text-blend: 25%;
$grid-small-width: 1200px;
$grid-big-width: 1400px;


